*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'itim';
}

nav{
    display: flex;
    width: 100%;
    height: 85px;
    background: #7747FD;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.3);
}

nav .icon{
    font-size: 35px;
    font-weight: 100;
    color: white;
    padding-top: 8px;
    margin-left: 5px;
}

nav ol{
    display: flex;
    list-style: none;
    margin: auto 0;
}

nav ol li{
    margin: 0 2px;
}

nav ol li a{
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 7px 32px;
}

nav ol li:hover a{
    background: #120059;
    color: white;
    border-radius: 20px;
}

.active{
    background: #120059;
    color: white;
    border-radius: 20px;
}

.active:hover{
    background-color: black;
}

nav .search_box{
    display: flex;
    margin: auto 0;
    height: 45px;
    line-height: 35px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.35);
}

nav .search_box input{
    border: none;
    outline: none;
    background: white;
    height: 100%;
    padding: 0 10px;
    font-size: 14px;
    width: 400px;
}

nav .search_box span{
    color: black;
    font-size: 18px;
    background: white;
    height: 100%;
    padding: 12px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

nav .search_box span:hover{
    color: white;
}

nav .search_box span::after{
    height: 100%;
    width: 0%;
    content: '';
    background: #120059;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: 0.3s;
}

nav .search_box span:hover::after{
    width: 100%;
}

body{
    background-color: #FFF8ED;
}

.slider {
    background-color: #00415D;
    /* width: 1519px; */
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.slides {
    width: 500%;
    /* width: 100%; */
    height: 650px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    /* width: 1519px; */
    width: 100%;
    height: 100%;
}

.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #7747FD;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #7747FD;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 611px;
}

.navigation-auto div {
    border: 2px solid #7747FD;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #7747FD;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #7747FD;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #7747FD;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #7747FD;
}

.kost-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 1500px; */
    width: 100%;
}
  
.card {
    /* width: 300px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden; */
    width: 20%;
    margin: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}
  
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
  
.card-content {
    padding: 10px;
}
  
.card-content h3 {
    margin: 0;
    font-size: 14px;
    color: #888;
}
  
.card-content h2 {
    margin: 5px 0;
    font-size: 18px;
}
  
.card-content p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.card-content h4{
    font-weight: 700;
}
  
.rating {
    color: #ffc107;
    font-size: 18px;
}

.details-btn {
    margin-left: 65%;
    margin-bottom: 20px;
    width: 100px;
    height: 40px;
    background-color: #5614C0;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.details-btn:hover {
    background-color: #7747FD;
}